# Environment variables
.env

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Database file
blood_analysis.db

# Encryption key
secret.key


# Vector store and memory
vector_store/
memory/

util/__pycache__
memory/__pycache__
vector_store
